@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-darkblue: #04194f;
  --color-blue: #072c89;
  --color-white: #f4f4f9;
  --color-bg-darkblue: #04194f0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-darkblue);
  background: var(--color-white);
}

main {
  @apply max-w-2xl m-auto pt-24 px-5 lg:max-2xl:px-0 pb-10;
}

section {
  padding-top: 4rem;
}

h1 {
  font-family: var(--font-archivo);
  font-size: 32px;
}

h2 {
  font-family: var(--font-archivo);
  font-size: 24px;
}

h3 {
  font-family: var(--font-noto-sans);
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: var(--font-noto-sans);
  font-size: 14px;
}

a {
  font-family: var(--font-noto-sans);
  font-size: 14px;
}

.markdown {
  white-space: break-spaces;
}

.awards > p {
  line-height: 2rem;
}

.dropdown {
  @apply bg-white;
}

.dropdown li:hover {
  @apply hover:bg-blue hover:text-white duration-75;
}

.border-bottom {
  border-bottom: solid 2px var(--color-darkblue);
  transition: border ease-in-out 0.1s;
}

.border-hover:hover {
  border-bottom: solid 2px var(--color-darkblue);
  transition: border ease-in-out 0.1s;
}

.background-text {
  background-color: var(--color-bg-darkblue);
}

.background {
  min-height: calc(100vh - 15rem);
}

.btn-primary {
  @apply border bg-white text-blue rounded-md px-3 py-1 text-sm;
}

.banner {
  @apply border-2 bg-blue text-white rounded-md;
}

@media (max-width: 800px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }

  .workList a {
    font-size: 14px;
  }

  section {
    padding-top: 2rem;
  }

  .background {
    min-height: calc(100vh - 17rem);
  }
}
