@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-darkblue: #04194f;
  --color-blue: #072c89;
  --color-white: #f4f4f9;
  --color-bg-darkblue: #04194f0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-darkblue);
  background: var(--color-white);
  padding-bottom: 4rem;
}

section {
  padding-top: 4rem;
}

h1 {
  font-family: var(--font-archivo);
  font-size: 32px;
}

h2 {
  font-family: var(--font-archivo);
  font-size: 24px;
}

h3 {
  font-family: var(--font-noto-sans);
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: var(--font-noto-sans);
  font-size: 14px;
}

a {
  font-family: var(--font-noto-sans);
  font-size: 14px;
}

.markdown {
  white-space: break-spaces;
}

.awards > p {
  line-height: 2rem;
}

.border-bottom {
  border-bottom: solid 2px var(--color-darkblue);
  transition: border ease-in-out 0.1s;
}

.border-hover:hover {
  border-bottom: solid 2px var(--color-darkblue);
  transition: border ease-in-out 0.1s;
}

.background-text {
  background-color: var(--color-bg-darkblue);
}

@media (max-width: 800px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  p {
    font-size: 12px;
  }

  a {
    font-size: 12px;
  }

  section {
    padding-top: 2rem;
  }
}
